<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update_User</title>
</head>
<body>
<input action="/update" method="POST">
<!--    <p>id</p>-->
<!--    <input title="id" type="text" name="id" value="${user.id}">-->
<!--    <p>firstName</p>-->
<!--    <input title="firstName" type="text" name="firstName" value="${user.firstName}">-->
<!--    <p>secondName</p>-->
<!--    <input title="secondName" type="text" name="secondName" value="${user.secondName}">-->
<!--    <p>age</p>-->
<!--    <input title="age" type="text" name="age" value="${user.age}">-->
<!--    <input type="submit" value="ok">-->



    <p>id</p>
    <input th:text="${user.id}"></input>
    <p>firstName</p>
    <input th:text="${user.firstName}"></input>
    <p>secondName</p>
    <input th:text="${user.secondName}"></input>
    <p>age</p>
    <input th:text="${user.age}"></input>
    <input type="submit" value="ok">

</form>
</body>
</html>