<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update_User</title>
</head>
<body>
<form th:action="@{/update}" method="post"
          th:object="${user}">
        <input th:value="${user.id}" name="id"></input>
        <label for="firstName">FirstName</label>
        <input type="text" class="form-control" id="firstName" th:field="*{firstName}"> </input>
        <label for="secondName">SecondName</label>
        <input type="text" class="form-control" id="secondName" th:field="*{secondName}"> </input>
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" th:field="*{age}"> </input>
        <input type="submit" value="ok">
        <a href="/">AT MAIN PAGE</a>
</form>
</body>
</html>