<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

    <p>
        <a href="/add">Add User</a>
    </p>
    <h2>Users</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>SecondName</th>
                <th>Age</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.secondName}"></td>
                <td th:text="${user.age}"></td>
                <th><a th:href="@{/update/{id}(id=${user.id})}">Change</a></th>
                <th><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></th>
            </tr>
        <tbody>
    </table>

</body>
</html>