<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

    <p th:text="${str}"/>

    <p>
        <a href="/add">Add User</a>
    </p>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>SecondName</th>
                <th>Age</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.secondName}"></td>
                <td th:text="${user.age}"></td>
                <th><a href="/update?id=${user.id}">Change</a></th>
                <th><a href="/delete?id=${user.id}">Delete</a></th>
<!--                <td><a th:href="@{update/{id}(id=${user.id})}">Update</a></td>-->
<!--                <td><a th:href="@{delete/{id}(id=${user.id})}">Delete</a></td>-->
            </tr>
        <tbody>
    </table>

</body>
</html>